.venv
__pycache__
_TOKEN.py
config.json
**/*.log
**/*.iso
config.yaml
makemkv-bin*.tar.gz
makemkv-oss*.tar.gz
node_modules
api/dist
test.py

notes.md
dot-ssh.tgz
/test*.py
/test*.ts

start-all.sh
**/tmp

**/.venv*/
**/dist/