# Fill out the values in this file and then copy it to `config.yaml`

# Your API token from TMDB
tmdb_token: abcdefghjk....

# The path to the `makemkvcon` binary
makemkvcon_path: /usr/bin/makemkvcon

# The device of the optical drive
source: dev:/dev/disk8

# Where to rsync files to once they're extracted, in rsync cli format, ala
# [[user@]host:]path/to/destination -- Note that rsync will also copy files
# around locally, no need to include the `user@host:` part if you are copying
# locally.
destination: 

# Where to store files directly after they are ripped.  This is where
# `makemkvcon` will drop its files (within a temporary directory therein).  This
# is a **TRUE PREFIX** so if you do not include the trailing slash, it'll create
# folders in that destination with the prefix name.
temp_prefix: /tmp/makemkv-batch/

# Log level.  ERROR WARNING INFO DEBUG
log_level: DEBUG

# Location of the frontend.  Not sure this param actually matters much anymore
# but if it turns out it doesn't, I'll remove this in a later update.
frontend: http://localhost:3000

# Allowed origins for the frontend to talk to the backend.  If you are running
# headless on a remote server, put the remote server's IP and/or hostname here.
cors_origins: 
  - http://hostname.of.headless.server:3000
  - http://ip.of.headless.server:3000